:root {
  --primary-color: #5cb338;
}

body {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: #fff;
  color: #5cb338;
  box-sizing: border-box;
  width: 50%;
  min-height: auto;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
}

.kuy-wrapper {
  padding: 10px;
}

.kuy-section1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 30px;
  height: 30px;
}

header p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header h1 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

form {
  letter-spacing: 1px;
}

form label,
h3 {
  font-weight: 700;
  text-transform: uppercase;
}

#input-form {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px;
  width: 80%;
  box-sizing: border-box;
}

#todo-level {
  padding: 5px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.date-todo{
  font-size: 12px;
}

form button {
  border: none;
  background-color: var(--primary-color);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
}

form button:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.detail-task.span::first-letter{
  text-transform: uppercase;
}

.kuy-section2 {
  display: flex;
  flex-direction: column;
}

.kuy-section2 ul li {
  text-decoration: none;
  list-style-type: none;
}

.kuy-section2 img {
  width: 20px;
  height: 20px;
}

.kuy-section2 button {
  border: none;
  background-color: transparent;
  margin-left: auto;
}

#todo-list {
  padding: 0;

}

.todo, .done {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 20px;
  gap: 10px;
}

#done-list {
  padding: 0px;
  margin: 0;
}

.kuy-section2 h3 {
  padding: 0;
  margin-bottom: 0;
}

.detail-task {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.detail-task span {
  font-size: 14px;
}

input[type="checkbox"]  {
  width: 18px;
  height: 18px;
}

input[type="checkbox"]:checked + .detail-task h4 {
  text-decoration: line-through;
}

.delete-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.delete-button img {
  width: 20px;
  height: 20px;
  border: none;
}

